.sa-page {
    @media (min-width: 768px) {
        padding: 0;
        display: grid;
        grid-template-columns: 260px auto;
        grid-column-gap: 16px;
    }
}

.sa-content {
    word-wrap: break-word;
    padding: 8px;

    a {
        color: black;
        text-decoration: underline;
    }

    @media (min-width: 768px) {
        padding: 0;
    }
}
